
/*****Home*****/
.about-us {
    height: auto;
}
.wrapper-about {
    display: flex;
    flex-direction: row;
    @media (max-width: 880px) {
        flex-direction: column;
    }
    &__information {
        background-color: var(--primary-color);
        width: 65vw;
        height: 90vh;
        max-height: 730px;
        display: flex;
        color: var(--bg-color);
        overflow: hidden;
        @media (max-width: 880px) {
            width: 100%;
            height: auto;
        }
    }

    &__texture {
        width: 5rem;
        height: 100vh;
        background-image: url('../images/texture-about.jpg');
        background-size: cover;
        background-repeat: repeat;
        @media (max-width: 880px) {
            display: none;
        }
    }

    &__text {
        width: calc(100% - 7rem);
        padding: 8rem;
        box-sizing: border-box;
        @media (max-width: 800px) {
            width: 100%;
            padding: 4rem 2rem;
        }
        p {
            margin-top: 6rem;
            font-size: 3.2rem;
            line-height: 4rem;
            font-family: var(--primary-font);
            font-weight: 400;

            @media (max-width: 880px) {
                margin-top: 2rem;
                font-size: 2rem;
                line-height: 2.4rem;
            }
            
            @media (max-width: 680px) {
                margin-top: 2rem;
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
            
        }
        .btn {
            margin-top: 4rem;
            color: var(--tertiary-color);
            @media (max-width: 680px) {
                margin-top: 0rem;
            }
        }
    }

    &__entry {
        width: 35vw;
        display: flex;
        flex-direction: column;

        @media (max-width: 880px) {
            flex-direction: row;
            width: 100%;
        }

        @media (max-width: 680px) {
           flex-direction: column;
           width: 100%;
        }

    

        &--one {
            padding: 0 6rem;
            width: 100%;
            height: 45vh;
            max-height: 365px;
            background-color: var(--secondary-color);
            box-sizing: border-box;
            position: relative;
            @media (max-width: 680px) {
                height: auto;
                max-height: auto;
                padding: 4rem 2rem;
            }
            div {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 680px) {
                    top: 0;
                    transform: none;
                }
            }
            h5, p {
                color: var(--bg-color);
            }
            p {
                font-family: var(--primary-font);
                font-size: 2.8rem;
                @media (max-width: 680px) {
                    font-size: 2.6rem;
                }
            }
            .btn {
                color: #5D85A2;
            }
        }
        &--two {
            position: relative;
            width: 100%;
            height: 45vh;
            max-height: 365px;
            background-color: #000000;
            overflow: hidden;
            @media (max-width: 680px) {
                height: auto;
                max-height: auto;
            }
            h5, p {
                color: var(--bg-color);
            }
            p {
                font-family: var(--primary-font);
                font-size: 2.8rem;
            }
        }
    }

    &__overlay {
        padding: 0 2rem;
        width: 100%;
        height: 45vh;
        max-height: 365px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        z-index: 1;
        position: relative;

        @media (max-width: 680px) {
            height: auto;
            max-height: auto;
        }
        
        div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            @media (max-width: 680px) {
                padding: 4rem 0;
                top: 0%;
                transform: none;
            }
        }
        &:hover {
            ~ .wrapper-about__bg-entry {
                transform: scale(1.1);
            }
        }
    }

    &__bg-entry {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 45vh;
        background-image: url('../images/entry-2.jpg');
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        -moz-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
    }
}

.about-marquee {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 4vh;
    padding: 2rem 0;
    color: #000000;
    background-color: var(--bg-color);
	.marquee {
		--mFontSize: 1.4rem;
		--mRightOffset: 2.5rem;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		z-index: -1;
		transform: translateY(-50%);
		transition: opacity 466ms;
		overflow-x: hidden;
		.slide {
			display: inline-flex;
			flex-wrap: nowrap;
		}
		span {
			font-size: var(--mFontSize, 1rem);
			padding-left: var(--mLeftOffset, 0);
			padding-right: var(--mRightOffset, 0);
			display: inline-flex;
			white-space: nowrap;
            &::before {
                content: '—';
            }
		}
	}
}

/***Page***/
.about-page {
    height: auto;
    min-height: 100vh;
    &__banner {
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: var(--tertiary-color);
        figure {
            position: relative;
            margin: 0;
            background-size: cover;
            background-position: 100% 20%;
            background-repeat: no-repeat;
            position: relative;
            width: 100%;
            height: 80vh;
            @media (max-width: 880px) {
                background-position: center;
            }
            &::before {
                content: 'a';
                position: absolute;
                width: 100%;
                height: 50vh;
                background: var(--tertiary-color);
                background: linear-gradient(0deg, rgba(108,94,78,1) 20%, rgba(9,9,121,0) 100%);
                margin-top: 32vh;
            }
        }
    }
    &__header {
        background-color: var(--tertiary-color);
        height: auto;
        padding-bottom: 7rem;
        padding-top: 2rem;
        text-align: center;
        h5 {
            display: block;
        }
        h1 {
            color: var(--bg-color);
            font-size: 4rem;
            line-height: 4.5rem;
            @media (max-width: 880px) {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }
        p {
            color: var(--bg-color);
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }
    }
    &__video {
        width: 100%;
        height: auto;
        video {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
    &__description {
        padding-top: 6rem;
        padding-bottom: 6rem;
        h2 {
            position: absolute;
            font-family: var(--title-font);
            color: var(--bg-gray);
            font-size: 20rem;
            margin: 0;
            padding: 0;
            left: 50%;
            z-index: -1;
            opacity: 0.5;
            font-weight: 100;
            white-space: nowrap;
            text-align: center;
            transform: translate(-50%, -30%);
            @media (max-width: 880px) {
                display: none;
            }
        }
        h1 {
            font-size: 4rem;
            line-height: 4.5rem;
            @media (max-width: 880px) {
                font-size: 3rem;
                line-height: 3.5rem;
            }
        }
        p {
            color: var(--secondary-color);
            font-size: 2rem;
            letter-spacing: 0.1rem;
            font-weight: 400;
        }
    }

}