nav {
    top:0;
    width: 100%;
    position: fixed;
    background-color: rgb(46, 71, 86, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7rem;
    z-index: 2;
    transition: top 1s;
    overflow: hidden;
    @media (max-width: 800px) {
        height: 5.7rem;
    }

    .menu {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        @media (max-width: 800px) {
            display: none;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        img {
            width: 16rem;
            margin: 0 3.2rem;
        }
        @media (max-width: 800px) {
            img {
                width: 14rem;
                margin: 0 1rem;
            }
        }
        &__ico-burger {
            display: none;
            width: 2rem;
            height: 2rem;
            background-image: url('../icons/menu.svg');
            margin:0 1rem;
            @media (max-width: 800px) {
                display: block;
            }
         }
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display:inline;
            margin: 0 1.5rem;
            color: var(--tertiary-color);
            box-sizing: border-box;
            a{
                font-family: var(--primary-font);
                font-weight: 600;
                text-decoration: none;
                font-size: 1.2rem;
                color: #FFF;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                -webkit-transition: 0.1s cubic-bezier(0.28, 0, 0.18, 1);
                -moz-transition: 0.1s cubic-bezier(0.28, 0, 0.18, 1);
                transition: 0.1s cubic-bezier(0.28, 0, 0.18, 1);
                &:hover {
                    color: var(--primary-color)
                }
            }
        }
    }
    button {
        width: 13rem;
        height: 7.7rem;
        background-color: var(--primary-color);
        color: var(--bg-color);
        font-family: var(--primary-font), sans-serif;
        @media (max-width: 800px) {
            width: 10rem;
            height: 5.7rem;
        }
    }
    .sub-menu {
        display: flex;
        align-items: center;
        @media (max-width: 800px) {
            ul {
                display: none;
            }
        }
        ul li a{
            text-transform: capitalize;
            font-weight: 500;
            font-size: 1.5rem;
        }
    }
}