@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
@font-face {
    font-family: 'Fhphemister';
    src: url('../fonts/fh-phemister/fhphemister-bold-webfont.woff');
}
  

:root {
    --bg-color: #FFFFFF;
    --primary-color: #45B467;
    --secondary-color: #2E4756;
    --tertiary-color: #6C5E4E;
    --bg-gray: #ebebeb;
    --primary-font: 'Lato';
    --title-font: 'Fhphemister';
    --left-container: 15rem;
}
html {
    font-size: 62.5%; 
}

body {
    background-color: var(--bg-color);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--primary-font);
}

button {
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--primary-color);
    background-color: transparent;
    padding: 0.5rem 0;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    font-family: var(--primary-font);
    letter-spacing: 0.2rem;
    color: var(--bg-color);
    -webkit-transition: 0.3s cubic-bezier(0.28, 0, 0.18, 1);
    -moz-transition: 0.3s cubic-bezier(0.28, 0, 0.18, 1);
    transition: 0.3s cubic-bezier(0.28, 0, 0.18, 1);
    &:hover {   
       transform: scale(1.1);
    }
}

.btn-circle {
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.23);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.23);
    &--primary {
        background-color: var(--primary-color);
        color: #29703b;
    }
}

h1, h2, h3, h4, h5 {
    display: inline;
}

h1{
    margin: 0;
    font-size: 8rem;
    font-weight: 900;
    font-family: var(--title-font);
    line-height: 9rem;
}
h2{
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.4rem;
    font-weight: 600;
}
h5 {
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.container {
    width: calc(100% - 18vw);
    margin: auto;
}

section {
    height: 100vh;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: var(--secondary-color);
    padding: 2rem 0;
    box-sizing: border-box;
    position: relative;
}

.footer {
    display: flex;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        height: 30vh;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__logo {
        width: 200px;
        height: 90px;
        background-image: url('../images/logo-fld.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__social {
        display: flex;
        flex-direction: row;
        width: auto;
        z-index: 2;
        div {
            width: 2.4rem;
            height: 2.4rem;
            margin-left: 1.6rem;
        }
        &--whatsapp{
            background-image: url('../icons/social/whatsapp.svg');
            background-size: contain;
        }
        &--facebook{
            background-image: url('../icons/social/facebook.svg');
            background-size: contain;
        }
        &--youtube{
            background-image: url('../icons/social/youtube.svg');
            background-size: contain;
        }
        &--instagram{
            background-image: url('../icons/social/instagram.svg');
            background-size: contain;
        }
    }
    &__menu {
       margin-top: 2rem; 
       color: var(--bg-color);
       font-family: var(--primary-font);
       ul {
            list-style: none;
            padding: 0;
            li {
                padding: 0.5rem 0;
                a {
                    text-decoration: none;
                    color: var(--bg-color);
                }
            }
       }
    }
}


.form-group {
    text-align: left;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
}

input, textarea {
    border: 0.1rem solid var(--primary-color);
    padding: 1rem 0.5rem;
    border-radius: 1.5rem;
    width: calc(100% - 1.5rem);
}

.wrapper-contact {
    display: flex;
    width: 60vw;
    margin: 2rem auto;
}
.wrapper-contact .form {
    width: 50%;
}
.form .wrapper-button {
    text-align: right;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #FFFFFF; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); 
  }