.missions {
    position: relative;
    &__description {
        position: absolute;
        height: 0;
        background-color: var(--bg-color);
        z-index: 5;
        opacity: 0;
        will-change: opacity width left height;
        bottom: 0;
        -webkit-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        -moz-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
    }
    &__map {
        width: 100%;
        height: 80vh;
        background-color: black;
        overflow: hidden;
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 80vh;
        background: rgba(0,0,0,0.7);
        background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }
    &__title {
        position: absolute;
        margin-left: var(--left-container);
        top: 45%;
        left: 0;
        transform: translate(0, -50%);
        width: 40vw;
        max-width: 40rem;
        h1, p {
            color: var(--bg-color);
            font-weight: 600;
        }
        h1 {
           
            div {
                margin-right: 0.2rem;
            }
        }
    }
    &__slider {
        width: 100%;
        height: 20vh;
        background-color: #000000;
        overflow: hidden;
        padding: 0;
    }
    &__image {
        position: relative;
        width: 21vw;
        height: 20vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        -moz-transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
        transition: 0.4s cubic-bezier(0.28, 0, 0.18, 1);
    }
    &__overlay-image {
        width: 21vw;
        top: 0;
        left: 0;
        bottom: 0;
        height: 20vh;
        position: absolute;
        background: rgba(0,0,0,0);
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0,0,0,0)), color-stop(50%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
        z-index: 1;
        padding: 10px 10px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        p {
            color: var(--bg-color);
            font-weight: 500;
            font-size: 1.8rem;
            font-family: var(--primary-font);
            letter-spacing: 0.05rem;
            margin: 0;
        }

        &:hover {
            ~ .missions__image {
                transform: scale(1.1);
            }
        }
    }

    &__status {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 20px;
        z-index: 1;
        padding: 3px 14px;
        color: var(--bg-color);
        letter-spacing: 0.05rem;
        font-weight: 500;
        &--active {
            background-color: #29703B;
        }
        &--inactive {
            background-color: var(--secondary-color);
        }
    }
}
#mission-slider {
    height: auto !important;
}
.swiper-wrapper.swiper-mission {
    height: auto !important;
}
.wrapper-slide {
    height: 20vh;
    cursor: pointer;
    width: 21vw;
    overflow: hidden;
    padding: 0;
}

.marker {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  #mission-slider {
    background-color: var(--secondary-color);
  }
