<section class="about-page">
    <div class="banner-page">
        <figure style="background-image: url('../assets/images/about/banner.jpg');" data-lag="auto" data-speed="0.6">

        </figure>
    </div>
    <div class="about-page__header">
        <article class="container">
            <div class="container-title">
                <h5>Acerca de nosotros</h5>
                <h1>
                    Para el desarrollo integral del hombre y su medio ambiente
                </h1>
            </div>
            <div class="container-text">
                <p>
                    Fundación Las Delicias es una institución sin ánimo de lucro, cuyo objetivo es el desarrollo integral del hombre y del medio que le rodea. Creemos firmemente que el verdadero desarrollo del hombre sólo se logra cuando éste se pone en armonía con los principios que rigen la vida, tal como los ha revelado nuestro Creador.
                </p>
                <p>
                    Con el propósito de ayudar redentivamente a otros, surgió el programa que actualmente desarrollamos. Es un programa educativo que abarca todas las áreas que conforman al ser humano, es decir, la mente, el cuerpo y el espíritu. Para nosotros educar es restaurar la imagen de Dios en el hombre, y para hacer esto una realidad apelamos al principio fundamental del carácter del creador, el amor abnegado, que es la manifestación de un Dios que no vive para si.
                </p>
            </div>
        </article>
    </div>
    <div class="about-page__video">
        <video src="../assets/images/about/about.mp4" autoplay muted loop controls></video>
    </div>
    <div class="about-page__description">
        <article class="container">
            <div class="container-title">
                <h1>
                    Nuestra Misión y Visión
                </h1>
            </div>
            <div class="container-text">
                <p>
                    Alcanzar a nuestra sociedad a nivel comunitario, municipal, estatal y aún internacional, ejerciendo una influencia en ellos por medio del testimonio vivo de un Estilo de Vida en armonía con la revelación Divina, contrarrestando el egoísmo que predomina y que lleva nuestra sociedad a la degeneración.
                </p>
                <p>
                    Formar jóvenes y familias con espíritu misionero y vocación de servicio, capacitándolas para trabajar y educar en un ‘Estilo de Vida’ en armonía con las leyes físicas, mentales, sociales, morales y espirituales que nuestro Creador estableció. De esta manera contribuimos a la armonía, felicidad y desarrollo de la humanidad y a la restauración de la imagen de Dios en el hombre.
                </p>
            </div>

        </article>
    </div>
    
</section>
    
