<section class="course-page">
    <div class="course-page__banner" style="background-image: url('../assets/images/education/misionerobasico.jpg');">
        <div class="overlay">
            <h5 class="wow animate__animated animate__fadeInUp">Curso En</h5>
            <h1 class="wow animate__animated animate__fadeInUp">Misionero Básico</h1>
        </div>
    </div>
    <div class="wrapper-about">
        <div class="wrapper-about__information"style="background-color: var(--orange-color);">
            <div class="wrapper-about__text wow animate__animated animate__fadeInUp">
                <h5>Acerca del Curso</h5>
                <p>
                    Estos cursos en su totalidad tienen una duración de un año, 
                    su objetivo es proporcionar las bases necesarias al estudiante 
                    en las áreas de estilo de vida, agricultura, cocina saludable, Biblia, etc. 
                    Estos cursos son ideales para las personas que en un periodo de tiempo mas corto desean obtener 
                    las herramientas básicas generales para servir en la obra medico misionera. 
                    Y son necesarios para avanzar en los cursos informales de las áreas en estilo de vida y bienestar, agricultura, audiovisual y Biblia.
                </p>
            </div>
        </div>
        <div class="wrapper-about__entry">
            <div class="wrapper-about__entry--one">
                <div class="wow animate__animated animate__fadeInUp">
                    <h5>Objetivo General</h5>
                    <p>Lograr que el estudiante obtenga los fundamentos esenciales para su desempeño en la obra médico misionera, y así mismo las bases necesarias que le permitirán continuar en su preparación en los diferentes ramos del servicio.</p>
                </div>
            </div>
            <div class="wrapper-about__entry--two"> 
                <div class="wrapper-about__overlay">
                    <div class="wow animate__animated animate__fadeInUp">   
                        <h5>Objetivos Especificos</h5>
                        <ul>
                            <li>Proporcionar los conocimientos prácticos y teóricos en el ramo de la salud.</li>
                            <li>Proporcionar los conocimientos prácticos y teóricos en el área de la agricultura.</li>
                            <li>Proporcionar las herramientas básicas para el estudio de la Biblia y el conocimiento básico de los fundamentos de la fe adventista, doctrinas y profecía.</li>
                        </ul> 
                    </div>
                    
                </div>
                <div class="wrapper-about__bg-entry"></div>
            </div>
        </div>
    </div>
    <section>

    </section>
</section>