<section class="education-page">
    <div class="education-page__banner">
        <article>
            <h5>Educación</h5>
            <h1>Nuestra oferta de Cursos</h1>
            <p>Las Delicias se esfuerza por proporcionar un entrenamiento equilibrado que se puede utilizar en cualquier lugar</p>
            <ul>
                <li>
                    <a href="">
                        Formulario de adminisión
                    </a>
                </li>
                <li>
                    <a href="">
                        Horario
                    </a>
                </li>
                <li>
                    <a href="">
                        Catalogo Academico
                    </a>
                </li>
            </ul>
        </article>
    </div>
    <div class="education-page__courses">
        <div style="background-image: url('../assets/images/education/misionerobasico.jpg');">
           
            <div class="overlay">
                <h5>Curso En</h5>
                <h1>Misionero Básico</h1>
                <button>Leer más</button>
            </div>
        </div>
        <div style="background-image: url('../assets/images/education/estilodevida.jpg');">
            <div class="overlay">
                <h5>Curso En</h5>
                <h1>Estilo de vida</h1>
                <button>Leer más</button>
            </div>
        </div>
        <div style="background-image: url('../assets/images/education/agroecologia.jpg');">
            <div class="overlay">
                <h5>Curso En</h5>
                <h1>Agroecologia</h1>
                <button>Leer más</button>
            </div>
            
        </div>
        <div style="background-image: url('../assets/images/education/instructorbiblico.jpg');">
            <div class="overlay">
                <h5>Curso En</h5>
                <h1>Instructor Biblico</h1>
                <button>Leer más</button>
            </div>
            
        </div>
        <div style="background-image: url('../assets/images/education/medios.jpg');">
            <div class="overlay">
                <h5>Curso En</h5>
                <h1>Medios Audiovisuales</h1>
                <button>Leer más</button>
            </div>
        </div>
    </div>
    <div class="education-page__requirements container">
        <div class="container-title">
            <h1>Requsitos para participar en el programa</h1>
        </div>
        <div class="container-text">
            <table>
                <tr>
                    <td>
                        <h1>1</h1>
                    </td>
                    <td>
                        <p>
                            Tener un deseo sincero y propósito firme de alcanzar una experiencia personal de fe, discernir la voluntad de Dios para su vida en particular y tener el propósito de dedicarse a una vida de servicio.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>2</h1>
                    </td>
                    <td>
                        <p>
                            Diligenciar el formulario de admisión y remitirlo. Ser mayor de 18 años de edad (si el solicitante demuestra madurez se puede considerar con un mínimo de 16 años con autorización de los padres y/o representantes).
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>3</h1>
                    </td>
                    <td>
                        <p>
                            Proveer referencias personales detalladas.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>4</h1>
                    </td>
                    <td>
                        <p>
                            Realizar una entrevista personal, vía telefónica o presencial con el departamento de Educación.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>5</h1>
                    </td>
                    <td>
                        <p>
                            Esperar la aprobación de su admisión al programa y fecha de ingreso antes de presentarse en la Institución.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>6</h1>
                    </td>
                    <td>
                        <p>
                            Cancelar todo lo relacionado a la matrícula y la mensualidad.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>7</h1>
                    </td>
                    <td>
                        <p>
                            El estricto cumplimiento y respeto a las normas de la Institución.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>8</h1>
                    </td>
                    <td>
                        <p>
                            Anualmente deberá renovarse la solicitud de participación.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>9</h1>
                    </td>
                    <td>
                        <p>
                            Tener afiliación a una EPS, seguro médico o traer carta de suspensión del Sisben en su área a fin de aplicar localmente para estos beneficios.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h1>
                            10
                        </h1>
                    </td>
                    <td>
                        <p>
                            Todo ingresado tendrá un período de prueba de tres meses, al culminar dicho plazo el ingresado o la Institución podrá decidir su continuidad en el proceso educativo. La institución no reembolsará los pagos realizados por concepto de matrícula ni mensualidades en caso de que el ingresado no continúe sus estudios. Las salidas están restringidas durante este período.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>